version: "3.9"

services:
  dex_app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./keys:/app/keys
    command: tail -f /dev/null
